.toggle-button {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 22px;
    width: 31px;
    background: transparent;
    border: none;
    cursor: none;
    padding: 0;
    box-sizing: border-box;
    margin-top: 3.4px;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__line {
    width: 30px;
    height: 1.5px;
    background: white;
}
